{% extends "accounts/auth.base.html" %}

{% load static %}

{% block title %}Login - EPI Detection{% endblock %}

{% block content %}
<div class="container relative min-h-screen flex-col items-center justify-center grid lg:max-w-none lg:grid-cols-2 lg:px-0">
    <div class="relative hidden h-full flex-col bg-muted p-10 text-white lg:flex dark:border-r">
        <div class="absolute inset-0 bg-primary"></div>
        <div class="relative z-20 flex items-center text-lg font-medium">
            <img src="{% static 'pages/images/logo-projeto2.svg' %}" alt="SafetyAI Logo" class="h-10 w-auto" /> 
        </div>
        <div class="relative z-20 mt-auto">
            <blockquote class="space-y-2">
                <p class="text-lg">
                    Este projeto busca demonstrar, por meio de um MVP, uma nova abordagem para monitorar e promover a conformidade no uso de EPIs em ambientes de trabalho, com foco em aplicações futuras no setor industrial. </p>
            </blockquote>
        </div>
    </div>
    <div class="lg:p-8">
        <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[350px]">
            <div class="flex flex-col space-y-2 text-center">
                <h1 class="text-2xl font-semibold tracking-tight">Bem-vindo de volta</h1>
                <p class="text-sm text-muted-foreground">
                    Digite suas credenciais para acessar sua conta
                </p>
            </div>

            {% for message in messages %}
                <div class="p-3 rounded-md
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        bg-destructive/15 text-destructive
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        bg-primary/15 text-primary
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="grid gap-6">
                <form method="POST" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <div class="grid gap-4">
                        <div class="grid gap-2">
                            <label for="email" class="text-sm font-medium">Email</label>
                            <input
                                id="email"
                                name="email"
                                placeholder="nome@exemplo.com"
                                type="email"
                                required
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            />
                        </div>
                        <div class="grid gap-2">
                            <label for="password" class="text-sm font-medium">Senha</label>
                            <input
                                id="password"
                                name="senha"
                                type="password"
                                required
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                            />
                        </div>
                        <div class="flex items-center justify-between">
                        </div>
                        <button type="submit" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                            Entrar
                        </button>
                    </div>
                </form>
                <div class="text-center text-sm">
                    Não tem uma conta?
                    <a href="{% url 'accounts:register' %}" class="text-primary hover:underline">
                        Cadastre-se
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}